@font-face {
    font-family: "Bahij_TheSansArabic-SemiBold";
    src: url("../fonts/Bahij_TheSansArabic-SemiBold.ttf");
}
@font-face {
    font-family: "Bahij_TheSansArabic-Light";
    src: url("../fonts/Bahij_TheSansArabic-Light.ttf");
}
@font-face {
    font-family:"TheSansArabic-Bold" ;
    src: url("../fonts/ArbFONTS-Bahij_TheSansArabic-Bold.ttf");
}
@font-face {
    font-family:"Avenir-Book" ;
    src: url("../fonts/Avenir\ Book.ttf");
}
@font-face {
    font-family: "Avenir-Regular";
    src: url("../fonts/alfont_com_AlFont_com_Avenir-Regular.otf");
}
img{
    width: 100%;
}
body{
    margin:0;
    padding:0;
    font-size:14px;
    direction: rtl;
    text-align: right;
    font-family: "Bahij_TheSansArabic-Light";
    overflow-x: hidden;
}
a{
    text-decoration: none;
}
a:hover{
    text-decoration: none;
    color:#000
}
header{
    height:97px;
    background-color: white;
    box-shadow:  0  0 68px  rgba(0,0,0,.09);
}
ul{
    padding:0;
    margin:0;
}
.logo{
    width:105px;
}
.navbar-expand-lg .navbar-nav .nav-link{
    font-family: "Bahij_TheSansArabic-SemiBold";
    font-size: 1em;
    color:202020;
    padding:0 17px;
}
.navbar-expand-lg .navbar-nav .nav-link:hover{
    color:#ac2ca1;
}
.contactBtn{
    float:left;
    background-color: #ac2ca1;
    width:149px;
    font-size:1.125em;
    color:white;
    border:1px solid #ac2ca1;
    transition: all .5s;
    margin:auto ;
    border-radius: 0;
    font-family: "Bahij_TheSansArabic-SemiBold";

}
.contactBtn:hover,.contactBtn:focus{
    box-shadow: none;
    outline: none;
}
.contactBtn:hover{
    background-color: transparent;
    color:#ac2ca1;
    transition: all .5s;;
}
.navbar-nav{
    float: right;
}
/******** Hero Section **********/
.hero{
    position: relative;
    padding-top:200px;
    padding-bottom: 190px;
    position: relative;
}
.heroObject{
    position: absolute;
    right:0;
    top:0;
    width: 16%;
}
.heroObject2{
    top:auto;
    bottom: 0;
    left:0;
    right:auto;
    width:30%;
}
.heroText span{
    color:#ac2ca1;
    font-size:1.6875em;
    margin-bottom: 40px;
    font-family: "Bahij_TheSansArabic-Light";
}
.heroText h2{
    font-size:3.5em  ;
    color:#46484b;
    margin-bottom: 30px;;

}
.heroText h1{
    color:#46484b;
    font-size: 3.375em;
    font-family: "Bahij_TheSansArabic-SemiBold";
    margin-bottom: 30px;;

}
.hero .contactBtn{
    width:179px;
    height:55px;
    display: inline-block;
    margin-left:17px;
    float: none;
    line-height: 35px;;

}

.servicesBtn{
width:179px;
height:55px;
background-color: #f69c01;
color:white;
border:1px solid #f69c01;
transition: all .5s;
line-height: 35px;
border-radius:  0;
font-family: "Bahij_TheSansArabic-SemiBold";

}
.servicesBtn:hover{
    background-color: transparent;
    color:#f69c01;
    transition: all .5s;;

}
/****** Introduction Section ******/
.introSection{
    padding:200px 0;
    background-image: url("../images/introBG.png");
    background-size: cover;
    background-repeat: no-repeat;
    clip-path: polygon(0 20%, 100% 0%, 100% 100%, 0% 100%);
    position: relative;
    z-index: 1;
    top:-222px;;
}
.introText h4{
    font-family:"TheSansArabic-Bold" ;
    font-size:2em;
    margin-bottom: 32px;;
}
.introText {
    margin-top:50px;
}
.introText p{
    font-size: 1.125em;
    line-height: 2;
}
/*********** Valuable Section ****************/
.ValuableBox{
    width:18%;
    float:right;
    margin-left:21px;
    border-radius: 50px 0 0 0;
    padding:64px 0;
    text-align: center;
}
.ValuableBox:last-child{
    margin-left:0
}
.purbleBG{
    background-image:url("../images/valueBGP.png");
    background-size: cover;
}
.yellowBG{
    background-image:url("../images/valueBGY.png");
    background-size: cover;
}
.ourValuable{
    padding-top:76px;
    padding-bottom:55px
}
.sectionTitle{
    text-align: center;
    font-size:2.625em;
    font-family: "Bahij_TheSansArabic-SemiBold";
    margin-bottom: 35px;;
}
.ValuableBox span svg{
    fill:white;
}
.ValuableBox span  {
    margin-bottom: 25px;
    display: block;
}
.ValuableBox h5{
font-size:1.125em;
font-family: "Bahij_TheSansArabic-SemiBold";
color:white;

}
/************* services Box ***************/
.servicesSection{
    padding-top:55px;
    padding-bottom:70px;
}
.servicesBox{
    background-image: url("../images/serviceBoxBG.png");
    padding: 73px 20;
    text-align: center;
    background-size:cover;
    box-shadow:  1px  0 55px  rgba(0,0,0,.05);
height: 330px;
margin-bottom: 44px;;}
.serviceImg{
 margin:auto;
 margin-bottom:30px;
 width:75px;
}
.servicesBox h6{
font-size:1.25em;
color:#46484b;
font-family: "Bahij_TheSansArabic-SemiBold";
margin-bottom:17px;
}
.servicesBox p{
    font-size: 0.75em;
    color:#959595;
    line-height: 2;
    max-height: 60px;
    overflow: hidden;
}

/********** Gallery *********/
.gallerySection{
    padding-top:70px;
    padding-bottom:35px;
}
.gallerySlider{
    margin-top:30px;
}
.moreBtn.contactBtn{
    float:none;
    display: block;
    margin:auto;
    margin-top:30px;
}
.nav.nav-pills{
    justify-content: center;
}
.nav.nav-pills .nav-item{
 
    text-align: center;
margin-left:15px;
}
.nav.nav-pills .nav-link{
padding:11px 30px;
border-radius: 0;
color:#8b8e91;
background-color: #f7f7f7;
font-size:1em;

}
.nav.nav-pills .nav-item:last-child{
    margin-left:0;
}
.nav.nav-pills .nav-link.active{
    background-color: #ac2ca1;
    color:white;
}
.galleryImg{
    position: relative;
    height:350px;
    overflow: hidden;
}
.gallerySlider .owl-item{
    height:350px;
    overflow: hidden;
}
.galleryImg:before{
    position: absolute;
    content:"";
    width:5%;
    height:5%;
    background-color: transparent;
    border:2px solid white;
    top:50%;
    left:50%;
    z-index: 11;
    opacity: 0;
    transition: all .5s;
}
.galleryImg:HOVER{
    box-shadow:  1px 1 75px rgba(0,0,0,.15);
}
.galleryImg:hover:before{
width:90%;
height:90%;
top:5%;
left:5%;
opacity: 1;
transition: all .5s;
}
.galleryImg:hover img{
transform: scale(1.1);
transition: all .5S;

}
.galleryImg img{
    height: 100%;
    transition: all .5S;

}
.galleryText{
    color:white;
    font-family: "Bahij_TheSansArabic-SemiBold";
position: absolute;
bottom:50%;
width:100%;
text-align: center;
opacity: 0;
transition: all .5s;;
font-size:.1em;

}
.galleryImg:hover .galleryText{
    opacity: 1;
    transition: all .5s;
bottom:10%;
font-size:1.25em;
transition-delay: .2s;;
}
/*******partners *****/
.partners{
    padding-top:33px;
    padding-bottom:60px;
}
.partnerSlider.owl-carousel .owl-nav button.owl-next, .partnerSlider.owl-carousel .owl-nav button.owl-prev{
    font-size:70px;
    position: absolute;
    transition: all .5s;
    color:#46484b
}
.partnerSlider.owl-carousel .owl-nav button.owl-next{
    left:-5%;
}.partnerSlider.owl-carousel .owl-nav button.owl-prev{
    right:-5%;
}
.partnerSlider.owl-carousel .owl-nav button.owl-next:hover, .partnerSlider.owl-carousel .owl-nav button.owl-prev:hover{
color:#ac2ca1;
transition: all .5s;;
}
.partnerSlider.owl-carousel{
    position: relative;
}
button:focus{
    outline: 0;
}
.partnerSlider.owl-carousel .owl-nav{
    position: absolute;
    width: 100%;
    top: 0%;
}
.partnerImg{
    overflow: hidden;
}
.partnerImg img{
    transition: all .5s;;
}
.partnerImg:hover img{
    transform: scale(1.1);
    transition: all .5s;;
}
/********* Clients *********/
.clients{
padding-top:194px;
background-color: #f7f7f7;
clip-path: polygon(0 0, 100% 20%, 100% 100%, 0% 100%);
padding-bottom: 218px;;
}
.clientsBox{
background-color: white;
padding:37px 50px;
box-shadow: 12px 0 32px rgba(0,0,0,.1);
text-align: center;
transition: all .5s;;

}
.clientsBox:hover{
 box-shadow: 12px 0 30px rgba(0,0,0,.2);
 transition: all .5s;;
}
.clientsSlider{
    position: relative;
}
.clientsSlider .owl-stage{
    padding:20px 0;
}
 .owl-stage-outer{
    width:100%;
    overflow: visible;
}

 .clientsSlider .owl-item {
   opacity: 0;
   transition: all .5s;;
}
.clientsSlider .owl-item.active {
  opacity: 1;
}
.clientImg{
    width:79px;
    height:79px;
    border-radius: 50%;
    overflow:hidden;
    margin:auto;
    margin-bottom: 12px;;
}
.clientsBox h4{
    color:#ac2ca1;
    font-size:1.125em;
    margin-bottom: 12px;;
    font-family: "Bahij_TheSansArabic-SemiBold";

}
.clientImg img{
    width:fit-content !important
}
.clientsBox h3{
    font-size:0.75em;
    color:#46484b;
    margin-bottom: 25px;
    font-family: "Bahij_TheSansArabic-SemiBold";
}
.clientsBox p{
    font-size:0.875em;
    color:#999c9e;
    font-family: "Bahij_TheSansArabic-SemiBold";
}
.clientsSlider.owl-carousel .owl-nav button.owl-next, .clientsSlider.owl-carousel .owl-nav button.owl-prev{
width:42px;
height:42px;
border-radius: 50%;
background-color: #ac2ca1;
border:1px solid #ac2ca1;
transition: all .5s;
position: absolute;
}
.clientsSlider.owl-carousel .owl-nav button.owl-prev{
    right:-5%;
}
.clientsSlider.owl-carousel .owl-nav button.owl-next{
    left:-5%;
}
.clientsSlider.owl-carousel .owl-nav button.owl-next:hover, .clientsSlider.owl-carousel .owl-nav button.owl-prev:hover{
background-color: transparent;
transition: all .5s;
}
.clientsSlider.owl-carousel .owl-nav button.owl-next:hover span, .clientsSlider.owl-carousel .owl-nav button.owl-prev:hover span{
color:#ac2ca1;
transition: all .5s;
}
.clientsSlider  button span{
    color:white;
    font-size:40px;
    line-height: 20px;
    transition: all .5s;
}
.clientsSlider .owl-nav{
    position: absolute;
    width: 100%;
    top: 45%;
}
/*********** contact **********/
.contactSection{
    position: relative;
    padding-bottom: 200px;;
}
.contactBox{
    background-color: white;
    padding:37px 60px;
    margin-top: -10%;
    width: 100%;
    z-index: 22;
    position: relative;
    box-shadow: 12px 0 32px rgba(0,0,0,.09);
}
.contactBox h4{
    font-sizE:1.375em;
    font-family: "Bahij_TheSansArabic-SemiBold";
    text-align: center;
    margin-bottom: 30px;;
}
.contactList{
    list-style-type: none;

}
.contactList li{
    display: inline-block;
    margin-left:40px;
}
.contactList li:last-child{
    margin-lefT:0;
}
.contactList li i{
    float:right;
    color:#ac2ca1;
    margin-left:12px;
    font-size:25px;
}
.contactDetails{
    float:right;
}
.contactDetails h6{
font-size:1.125em;
color:000000;
font-family: "Bahij_TheSansArabic-SemiBold";
margin-bottom: 5px;;
}
.contactDetails h5{
    font-size:.8em;
    color:000000;
    font-family: "Bahij_TheSansArabic-SemiBold";
}
#map {
    position: absolute;
    z-index: 1;
    top:0;
    right:0;
    width: 100%;height: 100%;;
}
.contactForm{
    margin-top:50px;
}
.form-control{
    border:1px solid #f2f4f5;
    border-radius: 15px;;
}
.contactForm .form-controlSection{
    width:48%;
    margin-left:20px;
float:right;
}
.form-controlSection .form-control{
    height:50px;
}
.contactForm .form-control::placeholder{
    font-size:.8em;
    color:#a2a2a2;
    font-family:"Avenir-Book" ;
}
.form-controlSection .form-group:first-child{
    margin-bottom: 15px;
}
.form-control:focus{
    border-color:#f2f4f5;
    box-shadow: none;
}
.textAreaFormGrouup{
    width: 40%; 
   float:right;
    margin-left:12px;
}
textarea.form-control{
    height: 112px;
    width: 100%;
    resize: none;
    font-size:.8em;
    color:#a2a2a2;
    font-family:"Avenir-Book" ;
}
.form-group{
    margin-bottom: 0;
}
.sendBtn{
    width:40px;
    height:40px;
    border-radius: 50%;
    background-color: #ac2ca1;
    color:white;
    float:right;
    text-align: center;
    border:1px solid #ac2ca1;
    transition: all .5s;
    margin-top:33px
}
.sendBtn i{
    line-height: 25px;
}
.sendBtn:hover{
    background-color: transparent;
    transition: all .5s;;
    color:#ac2ca1
}
/************ Footer ***************/
.footer{
background-image: url("../images/footerBG.png");
background-size: cover;
background-repeat: no-repeat;
padding-top:60px;
padding-bottom: 60px;;
}
.footerLogo{
    margin-bottom: 20px;
    width:185px;
}
.footer p{
    color:white;
    line-height: 2;
    font-size:.875em;
    font-family: "Bahij_TheSansArabic-SemiBold";
    color:white;

}
.footerLinks h4{
    font-family: "Bahij_TheSansArabic-SemiBold";
    font-size:1.25em;
    margin-bottom: 26px;
    color:white;
}
.footerLinks li{
    margin-bottom: 18px;
    padding:0;
    list-style-type: none;

}
.footerLinks ul li a{
    color:white;
    font-family: "Bahij_TheSansArabic-SemiBold";
    font-size:1em;
}
.footerLinks ul li:hover a{
    color:#ac2ca1
}
.footerLinks ul{
    margin:0;
    padding: 0;
}
.footerLinks li span{
    font-family: "Avenir-Regular";
    font-size:1em;
    color:white;

}
.footerLinks li  i{
    color:white;
    margin-left:17px;
}
.footerLinks ul.socialLinks{

}
.footerLinks ul.socialLinks li{
    display: inline-block;
    margin-left:17px;
}
.footerLinks ul.socialLinks li i{
    font-size:17px;
    margin:0
}
.facebook{
    border-radius: 50%;
    overflow: hidden;
}
.footerLinks ul.socialLinks li:hover a i{
    color:#ac2ca1
}
.copy-rights{
    font-size:.875em;
    color:white;
    text-align: center;
    margin-top:80px;
}
/********* Responsive ***********/ 
@media(max-width:767px){
    .navbar-nav{
        float:none;
    }
    .contactBtn{
        float:none;
    }
    button.navbar-toggler {
        position: relative;
        border: none;
        height: 40px;
        width:50px;
        cursor: pointer;
        border-radius: 0;
        opacity: .7;
        border:1px solid #ac2ca1;
        text-align: center;
    }
 
    .mobileMenu i{
        background-color: #ac2ca1;
        border-radius: 2px;
        content: '';
        display: block;
        width: 95%;
        height: 3px;
        margin-bottom:5px
    }
    .mobileMenu i:last-child{
    margin-bottom: 0;;
    }
    header{
        height: auto;
    }
    .navbar-nav
    {
        margin-top:30px;
        padding-bottom: 20px;;
    }
    .navbar-nav .nav-link{
        margin-bottom:20px;
    }
    body{
        font-size:12px
    }
    .ValuableBox {
        width:100%;
        margin-left:0;
        margin-bottom: 20px;;
    }
    .contactBox{
        padding:20px;
    }
    .contactForm .form-controlSection{
        width:100%;
        margin-left:0;
        margin-bottom:20px;
    }
    .textAreaFormGrouup {
        width: 83%;}
.partnerSlider.owl-carousel .owl-nav button.owl-prev{
    right:43%;
}
.partnerSlider.owl-carousel .owl-nav button.owl-next{
    left:43%;
}
.partnerSlider.owl-carousel .owl-nav {
    position: absolute;
    width: 100%;
    top: 80%;
}
.nav.nav-pills .nav-link {
    padding: 11px 10px;}
}