@font-face {
    font-family: "Bahij_TheSansArabic-SemiBold";
    src: url("../fonts/Bahij_TheSansArabic-SemiBold.ttf");
}
@font-face {
    font-family: "Bahij_TheSansArabic-Light";
    src: url("../fonts/Bahij_TheSansArabic-Light.ttf");
}
@font-face {
    font-family:"TheSansArabic-Bold" ;
    src: url("../fonts/ArbFONTS-Bahij_TheSansArabic-Bold.ttf");
}
@font-face {
    font-family:"Avenir-Book" ;
    src: url("../fonts/Avenir\ Book.ttf");
}
@font-face {
    font-family: "Avenir-Regular";
    src: url("../fonts/alfont_com_AlFont_com_Avenir-Regular.otf");
}

/********* whats Icon **********/ 
.floatwhatsIcon{
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	left:40px;
	background-color:#25d366;
	color:#FFF;
	border-radius:50px;
	text-align:center;
	box-shadow: 2px 2px 3px #999;
  z-index:100;
}
.floatwhatsIcon i{
    font-size: 32px;
    color: white;
    margin-top: 12px;
}
/**** Loader ***/
/**** Loader ***/
.loaderPage{
    background-color: rgba(0, 0, 0, .9);
    position: absolute;
    left:0;
    top:0;
    width:100%;
    height:100%;
    position: fixed;
    z-index: 99999999999;

}
.lds-default {
    display: inline-block;
    position: relative;
    width: 100px;
    height: 100px;
    margin:auto;
    top:45%;
    right:45%;
  }
  .lds-default div {
    position: absolute;
    width: 6px;
    height: 6px;
    background: #fff;
    border-radius: 50%;
    animation: lds-default 1.2s linear infinite;
  }
  .lds-default div:nth-child(1) {
    animation-delay: 0s;
    top: 37px;
    left: 66px;
  }
  .lds-default div:nth-child(2) {
    animation-delay: -0.1s;
    top: 22px;
    left: 62px;
  }
  .lds-default div:nth-child(3) {
    animation-delay: -0.2s;
    top: 11px;
    left: 52px;
  }
  .lds-default div:nth-child(4) {
    animation-delay: -0.3s;
    top: 7px;
    left: 37px;
  }
  .lds-default div:nth-child(5) {
    animation-delay: -0.4s;
    top: 11px;
    left: 22px;
  }
  .lds-default div:nth-child(6) {
    animation-delay: -0.5s;
    top: 22px;
    left: 11px;
  }
  .lds-default div:nth-child(7) {
    animation-delay: -0.6s;
    top: 37px;
    left: 7px;
  }
  .lds-default div:nth-child(8) {
    animation-delay: -0.7s;
    top: 52px;
    left: 11px;
  }
  .lds-default div:nth-child(9) {
    animation-delay: -0.8s;
    top: 62px;
    left: 22px;
  }
  .lds-default div:nth-child(10) {
    animation-delay: -0.9s;
    top: 66px;
    left: 37px;
  }
  .lds-default div:nth-child(11) {
    animation-delay: -1s;
    top: 62px;
    left: 52px;
  }
  .lds-default div:nth-child(12) {
    animation-delay: -1.1s;
    top: 52px;
    left: 62px;
  }
/***** public**************/
img{
    width: 100%;
}
body{
    margin:0;
    padding:0;
    font-size:14px;
    direction: ltr;
    text-align: left;
    font-family: "Bahij_TheSansArabic-Light";
    overflow-x: hidden;
}
a{
    text-decoration: none;
}
a:hover{
    text-decoration: none;
    color:#000
}
/********* header **********/
header{
    height:97px;
    background-color: white;
    box-shadow:  0  0 68px  rgba(0,0,0,.09);
}
ul{
    padding:0;
    margin:0;
}
.navbar-brand.logo{
    width:105px;
    margin:0;
    margin-right:40px;
}
.navbar-expand-lg .navbar-nav .nav-link{
    font-family: "Bahij_TheSansArabic-SemiBold";
    font-size: 1em;
    color:#202020;
    padding:0 17px;
}
.navbar-expand-lg .navbar-nav .nav-link:hover{
    color:#ac2ca1;
}
.contactBtn,.organizeBtn{
    float:right;
    background-color: #ac2ca1;
    width:149px;
    font-size:1.125em;
    color:white;
    border:1px solid #ac2ca1;
    transition: all .5s;
    margin:auto ;
    border-radius: 0;
    font-family: "Bahij_TheSansArabic-SemiBold";
}
.organizeBtn{
    background-color: #f69c01;
    border:1px solid #f69c01;
    margin-right:15px
}
.organizeBtn:hover{
    background-color: transparent;
    transition: all .5s;;
}
.contactBtn:hover,.contactBtn:focus{
    box-shadow: none;
    outline: none;
}
.contactBtn:hover{
    background-color: transparent;
    color:#ac2ca1;
    transition: all .5s;;
}
.lang{
    width:50px;
    border:1px solid #999;
    float:left;
    margin-right:10px;
    text-align: center;
    transition: all .5s;
    font-family: "Bahij_TheSansArabic-SemiBold";
    font-size: 1em;
    color:#202020;
    border-radius: 0;

}
.lang:hover{
    background-color:#8b8e91;
    color:white;
    transition: all .5s;
}
.btn:focus{
    border:0;
    box-shadow: none;
}
.navbar-nav{
    float: left;
    width:80%;
}
.scrollNav {
    top: 0 !important;
    z-index: 555;
    animation-duration: .5s;
    background-color:white;
    position: fixed !important;
    box-shadow: rgba(0, 0, 0, 0.1) 2px 3px 20px 3px;
    transition: 1s all;
    right: 0;
    width:100%;
    left:0;
    transition: all .5s;;
    animation:sticky;
}
.navbar-expand-lg .navbar-nav .nav-item.active .nav-link{
    color:#ac2ca1
}
/******** Hero Section **********/
.hero{
    position: relative;
}
.heroSlider{
    height: 680px;
    overflow: hidden;
}
.heroSliderItem {
    background-image: url("../images/innerBG.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    z-index: 0;
    height: 100%;
}
.heroSliderItem:before{
    position: absolute;
    content:"";
    width: 100%;height: 100%;
    background-color:rgba(0,0,0,.8);
    z-index:-1;
}
.heroSlider .owl-dots{
    position: absolute;
    width: 100%;
    bottom: 120px;
    text-align: center;
}
.heroSlider .owl-dot{
    width:15px;
    height:15px;
    margin:10px;
    border-radius:50%;
    background-color:#f69c01 !important;
}
.heroSlider .owl-dot.active{
    background-color:#ac2ca1 !important

}
.heroText{
    padding-top:200px;

    text-align: center;
}
.heroText span{
    background-color:#ac2ca1;
    font-size:1.6875em;
    padding:3px 5px;
    margin-bottom: 40px;
    color:white;
    font-family: "Bahij_TheSansArabic-Light";
    border-radius: 5px;
}
.heroText h2{
    font-size:3.5em  ;
    color:white;
    margin-bottom: 30px;
    margin-top: 15px;

}
.heroText h1{
    color:white;;
    font-size: 3.375em;
    font-family: "Bahij_TheSansArabic-SemiBold";
    margin-bottom: 30px;;

}
.hero .contactBtn{
    width:179px;
    height:55px;
    display: inline-block;
    margin-right:17px;
    float: none;
    line-height: 42px;;
    border:0;
}
.hero .contactBtn:hover{
    background-color: white;;
}
.servicesBtn{
width:179px;
height:55px;
background-color: #f69c01;
color:white;
transition: all .5s;
line-height: 42px;
border-radius:  0;
font-family: "Bahij_TheSansArabic-SemiBold";

}
.servicesBtn:hover{
    background-color: white;
    color:#f69c01;
    transition: all .5s;;

}
.heroSlider .owl-nav{
    position: absolute;
    top:45%;
    width:100%;
}
.heroSlider.owl-carousel .owl-nav button.owl-next, .heroSlider.owl-carousel .owl-nav button.owl-prev{
    position: absolute;
    left:10%;
}
.heroSlider .owl-nav button:hover span{
    color:#ac2ca1
}
.heroSlider .owl-nav button span{
    font-size:70px;
    color:white;
}
.heroSlider.owl-carousel .owl-nav button.owl-next{
    left:auto;
    right:10%;
}
/****** Introduction Section ******/
.introSection{
    padding:100px 0;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 1;
    background-color:transparent;
    margin-top:-190px;
}
.introSection:before{
    position: absolute;
    content:"";
    background-image: url("../images/inner.png");
    width:100%;
    height:100%;
    top:0;
    left:0;
    transform: rotate3d(0, 1, 0, 
    180deg);
}


.introText h4{
    font-family:"TheSansArabic-Bold" ;
    font-size:2em;
    margin-bottom: 32px;;
}
.introText {
    margin-top:50px;
}
.introText p{
    font-size: 1.125em;
    line-height: 2;
}
/*********** Valuable Section ****************/
.ValuableBox{
    width:18%;
    float:left;
    margin-right:21px;
    border-radius: 50px 0 0 0;
    padding:64px 0;
    text-align: center;
    height:280px;
    transition:all .5s;
    margin-bottom:20px;
}
.ValuableBox:hover{
    box-shadow:  20px  0 55px  rgba(0,0,0,.1);
    transition:all .5s;
    margin-top:-5px;
    transform:scale(1.1);
}
.ValuableBox:last-child{
    margin-right:0
}
.purbleBG{
    background-image:url("../images/valueBGP.png");
    background-size: cover;
}
.yellowBG{
    background-image:url("../images/valueBGY.png");
    background-size: cover;
}
.ourValuable{
    padding-top:76px;
    padding-bottom:55px
}
.sectionTitle{
    text-align: center;
    font-size:2.625em;
    font-family: "Bahij_TheSansArabic-SemiBold";
    margin-bottom: 35px;;
}
.ValuableBoxImg{
    max-width:50px;
    margin:auto;
    margin-bottom: 25px;
}
.ValuableBoxImg img{
    height:100%;
    width: auto;;
}
.ValuableBox h5{
font-size:1.125em;
font-family: "Bahij_TheSansArabic-SemiBold";
color:white;

}
/************* services Box ***************/
.servicesSection{
    padding-top:55px;
    padding-bottom:70px;
    background-color: transparent;
    position: relative;
}
.serviceBG{
    position: absolute;
    top:20%;
    right:0;
    width:100%;
    background-repeat: no-repeat;
 
}
.servicesBox{
    background-image: url("../images/serviceBoxBG.png");
    padding: 73px 20;
    text-align: center;
    background-size:cover;
    box-shadow:  1px  0 55px  rgba(0,0,0,.05);
height: 330px;
margin-bottom: 44px;
transition:all .5s;
}
.servicesBox:hover{
    box-shadow: 10px 0px 40px rgb(0 0 0 / 20%);
        transition:all .5s;
        margin-top:-10px;
        

}
.servicesBox:hover .serviceImg img{
transform:scale(1.1);
transition:all .5s;

}
.serviceImg{
 margin:auto;
 margin-bottom:30px;
 width:75px;
}
.serviceImg img{
    transition:all .5s;
}
.servicesBox h6{
font-size:1.25em;
color:#46484b;
font-family: "Bahij_TheSansArabic-SemiBold";
margin-bottom:17px;
transition:all .5s;
}
.servicesBox:hover h6{
    color:#ac2ca1;
    transition:all .5s;

}
.servicesBox p{
    font-size: 0.75em;
    color:#959595;
    line-height: 2;
    max-height: 60px;
    overflow: hidden;
}

/********** Gallery *********/
.gallerySection{
    padding-top:70px;
    padding-bottom:35px;
}
.gallerySlider{
    margin-top:30px;
}
.moreBtn.contactBtn{
    float:none;
    display: block;
    margin:auto;
    margin-top:30px;
}
.nav.nav-pills{
    justify-content: center;
}
.nav.nav-pills .nav-item{
 
    text-align: center;
margin-right:15px;
}
.nav.nav-pills .nav-link{
padding:11px 30px;
border-radius: 0;
color:#8b8e91;
background-color: #f7f7f7;
font-size:1em;

}
.nav.nav-pills .nav-item:last-child{
    margin-right:0;
}
.nav.nav-pills .nav-link.active{
    background-color: #ac2ca1;
    color:white;
}
.galleryImg{
    position: relative;
    height:350px;
    overflow: hidden;
}
.galleryImg a{
    width:100%;
    height: 100%;;
}
.gallerySlider .owl-item{
    height:350px;
    overflow: hidden;
}
/*.galleryImg:before{
    position: absolute;
    content:"";
    width:5%;
    height:5%;
    background-color: transparent;
    border:2px solid white;
    top:50%;
    right:50%;
    opacity: 0;
    z-index: 1;
    transition: all .5s;
}*/
.galleryImg:hover{
    outline: 2px solid white;
    outline-offset: -10px;
    box-shadow:  1px 1px 75px rgba(0,0,0,.15);
    transition: all .7s;
}
/*.galleryImg:hover:before{
width:90%;
height:90%;
top:5%;
right:5%;
opacity: 1;
transition: all .5s;
}*/

.galleryImg img{
    height: 100%;
    transition: all .5S;
}
.galleryText{
    color:white;
    font-family: "Bahij_TheSansArabic-SemiBold";
position: absolute;
bottom:50%;
width:100%;
text-align: center;
opacity: 0;
transition: all .5s;;
font-size:.1em;

}
.galleryImg:hover .galleryText{
    opacity: 1;
    transition: all .5s;
bottom:10%;
font-size:1.25em;
transition-delay: .2s;;
}
/*******partners *****/
.partners{
    padding-top:33px;
    padding-bottom:60px;
}
.partnerSlider.owl-carousel .owl-nav button.owl-next, .partnerSlider.owl-carousel .owl-nav button.owl-prev{
    font-size:70px;
    position: absolute;
    transition: all .5s;
    color:#46484b
}
.partnerSlider.owl-carousel .owl-nav button.owl-next{
    right:-5%;
}.partnerSlider.owl-carousel .owl-nav button.owl-prev{
    left:-5%;
}
.partnerSlider.owl-carousel .owl-nav button.owl-next:hover, .partnerSlider.owl-carousel .owl-nav button.owl-prev:hover{
color:#ac2ca1;
transition: all .5s;;
}
.partnerSlider.owl-carousel{
    position: relative;
}
button:focus{
    outline: 0;
}
.partnerSlider.owl-carousel .owl-nav{
    position: absolute;
    width: 100%;
    top: 0%;
}
.partnerImg{
    overflow: hidden;
}
.partnerImg img{
    transition: all .5s;;
}
.partnerImg:hover img{
    transform: scale(1.1);
    transition: all .5s;;
}
/********* Clients *********/
.clients{
padding-top:194px;
background-color: #f7f7f7;
clip-path: polygon(0 0, 100% 20%, 100% 100%, 0% 100%);
padding-bottom: 218px;;
}
.clientsBox{
background-color: white;
padding:37px 50px;
box-shadow: 12px 0 32px rgba(0,0,0,.1);
text-align: center;
transition: all .5s;;

}
.clientsBox:hover{
 box-shadow: 12px 0 30px rgba(0,0,0,.2);
 transition: all .5s;;
}
.clientsSlider{
    position: relative;
}
.clientsSlider .owl-stage{
    padding:20px 0;
}
 .owl-stage-outer{
    width:100%;
    overflow: visible;
}

 .clientsSlider .owl-item {
   opacity: 0;
   transition: all .5s;;
}
.clientsSlider .owl-item.active {
  opacity: 1;
}
.clientImg{
    width:79px;
    height:79px;
    border-radius: 50%;
    overflow:hidden;
    margin:auto;
    margin-bottom: 12px;;
}
.clientsBox h4{
    color:#ac2ca1;
    font-size:1.125em;
    margin-bottom: 12px;;
    font-family: "Bahij_TheSansArabic-SemiBold";

}
.clientImg img{
    width:fit-content !important
}
.clientsBox h3{
    font-size:0.75em;
    color:#46484b;
    margin-bottom: 25px;
    font-family: "Bahij_TheSansArabic-SemiBold";
}
.clientsBox p{
    font-size:0.875em;
    color:#999c9e;
    font-family: "Bahij_TheSansArabic-SemiBold";
}
.clientsSlider.owl-carousel .owl-nav button.owl-next, .clientsSlider.owl-carousel .owl-nav button.owl-prev{
width:42px;
height:42px;
border-radius: 50%;
background-color: #ac2ca1;
border:1px solid #ac2ca1;
transition: all .5s;
position: absolute;
}
.clientsSlider.owl-carousel .owl-nav button.owl-prev{
    left:-5%;
}
.clientsSlider.owl-carousel .owl-nav button.owl-next{
    right:-5%;
}
.clientsSlider.owl-carousel .owl-nav button.owl-next:hover, .clientsSlider.owl-carousel .owl-nav button.owl-prev:hover{
background-color: transparent;
transition: all .5s;
}
.clientsSlider.owl-carousel .owl-nav button.owl-next:hover span, .clientsSlider.owl-carousel .owl-nav button.owl-prev:hover span{
color:#ac2ca1;
transition: all .5s;
}
.clientsSlider  button span{
    color:white;
    font-size:40px;
    line-height: 20px;
    transition: all .5s;
}
.clientsSlider .owl-nav{
    position: absolute;
    width: 100%;
    top: 45%;
}
/*********** contact **********/
.contactSection{
    position: relative;
    padding-bottom: 350px;
    
}
.contactBox{
    background-color: white;
    padding:37px 60px;
    margin-top: -10%;
    width: 100%;
    z-index: 22;
    position: relative;
    box-shadow: 12px 0 32px rgba(0,0,0,.09);
}
.contactBox h4{
    font-sizE:1.375em;
    font-family: "Bahij_TheSansArabic-SemiBold";
    text-align: center;
    margin-bottom: 30px;;
}
.contactList{
    list-style-type: none;
    text-align: center;
}
.contactList li{
    display: inline-block;
    margin-right:40px;
}
.contactList li:last-child{
    margin-lefT:0;
}
.contactList li i{
    float:left;
    color:#ac2ca1;
    margin-right:12px;
    font-size:25px;
}
.contactDetails{
    float:left;
}
.contactDetails h6{
font-size:1.125em;
color:000000;
font-family: "Bahij_TheSansArabic-SemiBold";
margin-bottom: 5px;
text-align: left;
}
.contactDetails h5{
    font-size:.8em;
    color:000000;
    font-family: "Bahij_TheSansArabic-SemiBold";
    text-align: left;
}
#map {
    position: absolute;
    z-index: 1;
    top:0;
    left:0;
    width: 100%;height: 100%;;
}
.contactForm{
    margin-top:50px;
}
.form-control{
    border:1px solid #f2f4f5;
    border-radius: 15px;;
}
.contactForm .form-controlSection{
    width:48%;
    margin-right:20px;
float:left;
}
.form-controlSection .form-control{
    height:50px;
}
.contactForm .form-control::placeholder{
    font-size:.8em;
    color:#a2a2a2;
    font-family:"Avenir-Book" ;
}
.form-controlSection .form-group:first-child{
    margin-bottom: 15px;
}
.form-control:focus{
    border-color:#f2f4f5;
    box-shadow: none;
}
.textAreaFormGrouup{
    width: 40%; 
   float:left;
    margin-right:12px;
}
textarea.form-control{
    height: 112px;
    width: 100%;
    resize: none;
    font-size:.8em;
    color:#a2a2a2;
    font-family:"Avenir-Book" ;
}
.form-group{
    margin-bottom: 0;
}
.sendBtn{
    width:40px;
    height:40px;
    border-radius: 50%;
    background-color: #ac2ca1;
    color:white;
    float:left;
    text-align: center;
    border:1px solid #ac2ca1;
    transition: all .5s;
    margin-top:33px
}
.sendBtn i{
    line-height: 25px;
}
.sendBtn:hover{
    background-color: transparent;
    transition: all .5s;;
    color:#ac2ca1
}
/************ Footer ***************/
.footer{
background-image: url("../images/footerBG.png");
background-size: cover;
background-repeat: no-repeat;
padding-top:60px;
padding-bottom: 60px;;
}
.footerLogo{
    margin-bottom: 20px;
    width:185px;
}
.footer p{
    color:white;
    line-height: 2;
    font-size:.875em;
    font-family: "Bahij_TheSansArabic-SemiBold";
    color:white;

}
.footerLinks h4{
    font-family: "Bahij_TheSansArabic-SemiBold";
    font-size:1.25em;
    margin-bottom: 26px;
    color:white;
}
.footerLinks li{
    margin-bottom: 18px;
    padding:0;
    list-style-type: none;

}
.footerLinks ul li a{
    color:white;
    font-family: "Bahij_TheSansArabic-SemiBold";
    font-size:1em;
}
.footerLinks ul li:hover a{
    color:#ac2ca1
}
.footerLinks ul{
    margin:0;
    padding: 0;
}
.footerLinks li span{
    font-family: "Avenir-Regular";
    font-size:1em;
    color:white;

}
.footerLinks li  i{
    color:white;
    margin-right:17px;
}

.footerLinks ul.socialLinks li{
    display: inline-block;
    margin-right:17px;
}
.footerLinks ul.socialLinks li i{
    font-size:17px;
    margin:0
}
.facebook{
    border-radius: 50%;
    overflow: hidden;
}
.footerLinks ul.socialLinks li:hover a i{
    color:#ac2ca1
}
.copy-rights{
    font-size:.875em;
    color:white;
    text-align: center;
    margin-top:80px;
}
.innerHeader{
    padding:30px 0;
    position: relative;
    background-image: url("../images/innerBG.jpg");
    background-repeat: no-repeat;
    background-size: cover;;
    z-index: 0;
    }
    .innerHeader:before{
        content:"";
        background-color:rgba(0,0,0,.8);
        width:100%;
        height: 100%;
        position: absolute;
        top:0;
        right:0;
        z-index: -1;
    }
    .innerIntroSection.introSection{
        background-image: url("../images/inner.png");
        margin-top:0;
        clip-path: none;
        padding-top:100px;
    }
    .breadcrumb-item a{
        font-size:1.5em;
        color:white;
    }
    .breadcrumb-item.active{
        font-size:1.5em;
        color:#ac2ca1;
        font-family: "Bahij_TheSansArabic-SemiBold";
    }
    .breadcrumb{
        background-color:transparent;
        justify-content: center;
    }
    .breadcrumb-item a:hover{
    color: #f69c01;
    
    }
    .innerHeader nav{
        margin:auto;
    }
    .innerTitle{
        text-align: center;
        font-size:2.625em;
        color:white;
        margin-bottom:20px;
        font-family: "Bahij_TheSansArabic-SemiBold";
    
    }
    .innerClients{
        clip-path: unset;
    padding-top:100px
    }
    .innerBox{
        padding:20px;
        background-color:white;
        box-shadow: 1px 0 55px rgba(0, 0, 0, .1);
    }
    .privecyMenu{
    margin-top:20px;
    padding-left:20px;
    
    }
    .privecyMenu li{ 
    margin-bottom:20px;
    padding-left:10px;
    list-style-type:auto;
    }
    .innerBox h3{
        font-family: "Bahij_TheSansArabic-SemiBold";
    
        font-size:1.5em;
    }
    .innerContact #map{
    position: relative;
    }
    .serviceSide{
        box-shadow: 0 0 10px rgb(175 175 175 / 23%);
        padding:20px;
        margin-bottom: 20px;;
    }
    .serviceDetails{
    padding-top:100px;
    padding-bottom:100px;}
    .servTitle{
        font-family: "Bahij_TheSansArabic-SemiBold";
        padding: 17px 25px;
        margin-top: 0;
        margin-bottom: 0;
        font-size: 1.4em;
        font-weight: 600;
        border-bottom: 1px solid #f1f1f1;
        color: #ac2ca1;
    }
    .servicesArchive {
        padding: 20px 0px 20px 20px;
    }
    .servicesArchive li{
        list-style-type: none;
        margin-bottom: 25px;
        display: block;
        padding-left: 10px;
    }
    .servicesArchive li .serviceImg{
        width:20px;
        margin:0;
        margin-right:10px;
        float:left
    }
    .servicesArchive li a{
       color: #888;
       font-family: "Bahij_TheSansArabic-SemiBold";
       font-size:1.2em
    
    }
    .servicesArchive li :hover {
        color:#f69c01
    }
    .serviceDetailsImg{
        max-height:300px;
        overflow: hidden;
    }
    .detailsBox{
        box-shadow: 0 0 10px rgb(175 175 175 / 23%);
    }
    .serviceDetails{
        padding:20px
    }
    .serviceDetails h4{
        font-size:1.5em;
        color:#888;
        font-family: "Bahij_TheSansArabic-SemiBold";
    margin-bottom: 20px;   
    }
    .serviceDetails p{
        font-size: .9em;
        color: #999;
        line-height: 2;
    }
    .detailsBox:hover .serviceDetails h4{
        color:#ac2ca1
    }
/********* Responsive ***********/ 
@media(max-width:767px){
    .navbar-nav{
        float:none;
    }
    .contactBtn{
        float:none;
    }
    button.navbar-toggler {
        position: relative;
        border: none;
        height: 40px;
        width:50px;
        cursor: pointer;
        border-radius: 0;
        opacity: .7;
        border:1px solid #ac2ca1;
        text-align: center;
    }
 
    .mobileMenu i{
        background-color: #ac2ca1;
        border-radius: 2px;
        content: '';
        display: block;
        width: 95%;
        height: 3px;
        margin-bottom:5px
    }
    .mobileMenu i:last-child{
    margin-bottom: 0;;
    }
    header{
        height: auto;
    }
    .navbar-nav
    {
        margin-top:30px;
        padding-bottom: 20px;;
    }
    .navbar-nav .nav-link{
        margin-bottom:20px;
    }
    body{
        font-size:12px
    }
    .ValuableBox {
        width:43%;
        margin-bottom: 20px;
    }
    .heroSlider {
        height: 500px;}

    .contactBox{
        padding:20px;
    }
    .contactForm .form-controlSection{
        width:100%;
        margin-right:0;
        margin-bottom:20px;
    }
    .textAreaFormGrouup {
        width: 83%;}
.partnerSlider.owl-carousel .owl-nav button.owl-prev{
    left:43%;
}
.partnerSlider.owl-carousel .owl-nav button.owl-next{
    right:43%;
}
.partnerSlider.owl-carousel .owl-nav {
    position: absolute;
    width: 100%;
    top: 80%;
}
.nav.nav-pills .nav-link {
    padding: 11px 5px;
font-size:.9em;

}
.nav.nav-pills .nav-item{
    margin-right:7px;
}

.galleryImg img{
    height: auto;
}
.gallerySection,.servicesSection,.ourValuable{
    padding:20px 0
}
.introSection{
    padding-bottom: 50px
}
.serviceBG{
    display: none;;
}
.footerLinks{
    margin-top:20px;
}
.hero .contactBtn ,.servicesBtn{
    width:160
}

.organizeBtn{
    float:none;
}
.contactList li{
    margin-left: 16px
}
.contactList {
    text-align: right;
}
.heroText{
    padding-top:50px;
    padding-bottom:100px;
}
.heroSliderItem{
    padding-bottom:100px;
}
.heroSlider .owl-dots{
    bottom:60px;
}
.lds-default{
    right:34%;
}
}
@media(min-width:768px) and (max-width:1024px){
body{
    font-size:12px;
}
.introSection{
    margin-top: -137px;
}
.hero{
    padding-bottom:150px;
}
.clientsSlider .owl-nav{
    top:auto;
}
.clientsSlider.owl-carousel .owl-nav button.owl-prev{
    left:40%;
}
.clientsSlider.owl-carousel .owl-nav button.owl-next{
    right:40%;
}
.partnerSlider.owl-carousel .owl-nav {

top:75%}
.partnerSlider.owl-carousel .owl-nav button.owl-next{
    right:40%;
}
.partnerSlider.owl-carousel .owl-nav button.owl-prev{
    left:40%;
}
.ValuableBox {
    width: 24%;
    margin-bottom: 20px;
}
.contactList li{
    margin-right:18px;
}
.textAreaFormGrouup {
width:39%;
}
button.navbar-toggler {
    position: relative;
    border: none;
    height: 40px;
    width:50px;
    cursor: pointer;
    border-radius: 0;
    opacity: .7;
    border:1px solid #ac2ca1;
    text-align: center;
}

.mobileMenu i{
    background-color: #ac2ca1;
    border-radius: 2px;
    content: '';
    display: block;
    width: 95%;
    height: 3px;
    margin-bottom:5px
}
.mobileMenu i:last-child{
margin-bottom: 0;;
}
header{
    height:auto
}
.hero {
    padding-bottom: 120px;
    padding-top: 100px;
}
.introSection {
    padding: 124px 0;
    margin-top:-150px
}
}